@use "../abstracts/variables";

footer {
  background-color: variables.$footerBackground;
  min-height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  position: relative;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  align-items: center;
}
.dancers {
  width: 50px;
  height: auto;
  position: absolute;
  top: -25;
}
@media all and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  .footer-flex {
    padding: 1rem;
  }
}

@media all and (max-width: 500px) {
  footer {
    font-size: 0.7rem;
  }
}
