@use "../abstracts/variables";
@use "../abstracts/mixins.";

.button {
  margin-top: 1.5rem;
  background-color: variables.$buttonBackground;
  @include mixins.buttonSize();
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px;
}

.button:hover {
  background-color: rgb(214, 214, 177);
  cursor: pointer;
}
.button:active {
  background-color: variables.$buttonBackground;
}

.search-button {
  @extend .button;
}
.search-button:hover {
}
.search-button:active {
}
