.search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#search {
  width: 40%;
  margin: 0 auto;
  padding: 5px;
  margin-top: 1rem;
  box-shadow: 1px 0px 0px 0px;
  border-radius: 3px;
}
