@use "./keyframes";

.apple,
.leaf {
  transition: transform 0.5s ease;
}
.apple:hover,
.leaf:hover {
  animation: fallAndBlow 2s ease forwards;
}

.event-div:hover {
  animation: scaleDiv 1s ease forwards;
}

.dancers {
  animation: roll 10s linear infinite alternate;
}
